div{
    display: inline-block;
}
.ipod, .iphone, .cuffie{
    position: relative;
    
}

.green{
    width: 30px;
    height: 20px;
    background-color: green;
    z-index: 2;
    position: absolute;
    top:0%;
    right:0%;
}
.red{
    width: 30px;
    height: 20px;
    background-color:red;
    z-index: 2;
    position: absolute;
    top: 0%;
    right: 0%;
}