div{
    display: inline-block;
}
.prodotto{
    position: relative;
    
}

.green{
    width: 30px;
    height: 20px;
    background-color: green;
    z-index: 2;
    position: absolute;
    top:0%;
    right:0%;
}
.red{
    width: 30px;
    height: 20px;
    background-color:red;
    z-index: 2;
    position: absolute;
    top: 0%;
    right: 0%;
}
p{
    text-align: center;
    
}
.green > p{
    margin-top: 0ch;
    font-size: 14px;
    line-height: 20px;
}
.red > p{
    margin-top: 0ch;
    font-size: 14px;
    line-height: 20px;
}
body{
    width: 75%;
    margin:auto;
}
.cuore{
    position: absolute;
    bottom: 10px;
    right: 50%;
    text-decoration: none;
    color:rgb(241, 240, 240);
    cursor: pointer;
    
    
}
.cuore:hover{
    color: red;
    text-decoration: none;
    
    
}
.contenitore{
    padding: 20px;
}